<style>
body{font-family: 'Dosis', sans-serif;}

h1{font-family: 'Dosis', sans-serif;
    text-align: center;}

form {text-align: center;}

input[type=submit]{background: #66ccff;}

input[type=text],[type=password],[type=email] {
    padding:5px;
    background-color:#f2f2f2;
    outline:none;
    border:2px darkgreen solid; /** not sure what colors to use **/
}
input[type=text]:focus,[type=password]:focus,[type=email]:focus {
    background-color:white;
}

</style>
